<!DOCTYPE html>
<html ng-app = "Manipulador de Series">
<head> 
    <title>ManipuladorSeries</title>
    <meta charset = "utf-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/design.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-controller="controller">
    <!cabecalho com barra e botao de pesquisa>
    <div id="header">
        <h1>{{app}}</h1>
        <button class="btn" ng-click="pesquisarSerie(serie)">Home</button>
        <button class="btn" ng-click="pesquisarSerie(serie)">Watchlist</button>
        <input class="from-control" type="search" ng-model="serie" placeholder="Digite o nome da série"/>
        <button class="btn" ng-click="pesquisarSerie(serie)" ng-disabled="!serie">Pesquisar</button>
    </div>

    <div id="content">
        <div class="seriesBusca" ng-if="existeSerie" ng-repeat="serie in tempSeries">
            <h3>{{serie.Title}}</h3>
            <h3>{{serie.Year}}</h3>
            <img ng-src={{serie.Poster}}>
            <button class="btn" ng-click="adcPerfil(serie)">Adicionar ao Perfil</button>
            <button class="btn" ng-click="adcWatchlist(serie)">Adicionar a Watchlist</button>

        
    </div>

    <div id="foot">
        <h4>Séries do Perfil</h4>
        <div class="seriesPerfil" ng-repeat="serie in seriesPerfil">
            <h5>{{serie.Title}}</h5>
            <img ng-src={{serie.Poster}}>
            <button class="btn" ng-click="imprimeCaracteristicas(serie)">Ver características</button>
            <button class="btn" ng-click="removePerfil(serie)">Remover série</button>
        </div>
    </div>
</body>
</html>